<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

    <settings>
        <setting name="logImpl" value="STDOUT_LOGGING"/>
    </settings>
    <!--设置别名-->
    <typeAliases>
        <!--name：实体类所带的包名-->
        <package name="com.bjpowernode.crm.settings.domain"/>    <!--类名就是别名-->
        <package name="com.bjpowernode.crm.workbench.domain"/>
    </typeAliases>


    <mappers>
        <!--一个mapper标签指定一个文件的位置
            从类路径开始的路径信息 (类路径)：target/classes
        -->
        <!--name：是包名，这个包中所有的mapper.xml一次都加载-->
        <package name="com.bjpowernode.crm.settings.dao"/>
        <package name="com.bjpowernode.crm.workbench.dao"/>
        <!--<mapper resource=""/>-->
    </mappers>
</configuration>